* {
  margin: 0;
  padding: 0;
  color: black;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html, body, #root {
  height: 100%;
}

.page {
  height: 100%;
  display: flex;
}

.accordion {
  width: 300px;
  background: aqua;
  height: 100%;

  &__list {
    display: flex;
    flex-direction: column;
  }
}

.accordion__item {
  color: black;
}

.accordion__item-selected {
  color: red;
}